*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.menu_slider_main{
    height: 120px;
    width: 100vw;
    position: relative;
    padding: 0 20px;
    margin: 25px 0 40px;
}

.menu_slider_main_title{
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.menu_slider_main_title h2{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 15px;
    color: #A7C9E1;
    text-align: center;
}


.menu_slider_main > div:nth-child(-n+2){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #34BED7, #1484CF);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 20px);
    z-index: 10;
    cursor: pointer;
}

.previous{
    left: 0;
}

.menu_slider_main .next{
    right: 0;
}

.menu_slider1{
    height: 100%;
    width: 100%;
    display: flex;
    background: #0D1728;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.menu_slider1::-webkit-scrollbar{
    display: none;
}

.menu_slider1{
    scrollbar-width: none;
}

.menu_slider1{
    -ms-overflow-style: none;
}



.material-symbols-outlined.slide_btn{
    color: white;
    font-weight: 900;
    font-size: 12px;
}


@media screen and (min-width: 768px){

    .menu_slider_main{
        height: 180px;
        width: 88vw;
        margin: 30px auto 50px;
    }

    .menu_slider_main_title h2{
        font-size: 18px;
    }
    
}


@media screen and (min-width: 1024px){

    .menu_slider_main{
        height: 200px;
        width: 80vw;
    }
    
    .menu_slider_main_title h2{
        font-size: 22px;
    }

}