*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


.product_click{
    height: 470px;
    width: 100vw;
    background: #0D1625;
    padding: 20px;
    border: 5px solid red;
}

.product_click .image{
    height: 300px;
    width: 100%;
    background: #000000;
    border: 4px solid blue;
    position: relative;
}

.product_click .image img{
   /* height: 50%;
    width: 50%; */
     
    height: 270px;
    width: 250px; 
    
    
    position: absolute;
    top: calc(50% - 135px);
    left: calc(50% - 125px);
}

.product_click .title{
    width: 100%;
    height: 70px;
    border: 3px solid cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.product_click .title h2{
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
}

.product_click .price{
    font-weight: 500;
    font-size: 24px;
    display: flex;
    border: 3px solid pink;
}

.product_click .price p:nth-child(1){
    color: white;
    margin-right: 20px;
}

.product_click .price p:nth-child(2){
    color: #807F7E;
    text-decoration: line-through;
}
