*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.Main_Security{
    min-height: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px){
    .Main_Security{
    padding: 0 100px;
    }
}